@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using stockTable.Models;
@model Equipment

<h1>Информация об оборудование</h1>
<hr>

<h3>Тип оборудования: @Model.TypeEq</h3>
<h3>Модель оборудования: @Model.Model</h3>
<h3>Имя ПК: @Model.NamePC</h3>
<h3>Операционая система: @Model.OCName</h3>
<h3>IP адрес: @Model.IPAddress</h3>
<h3>Статус обородувание: @Model.Status.Name</h3>
<h3>Цена: @Model.Price</h3>
<h3>Серийный номер: @Model.SerialNum</h3>
<h3>Дата поставки: @Model.dataE</h3>
<hr>
<h1>Документ</h1>
<hr>
<h3>Инвентарный номер: @Model.Document.InventoryNum</h3>
<h3>Номер кабинета: @Model.Document.CabinetNum</h3>
<h3>Номер контакта: @Model.Document.NumContract</h3>
<h3>Дата контракта: @Model.Document.CabinetNum</h3>
<h3>Ответственый по документам: @Model.Document.Responsible</h3>
<h3>Наименование по бухгалтерии: @Model.Document.NameForBookkeeping</h3>